:root {
    --mdc-theme-primary: navy;
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: var(--mdc-theme-primary);
}
.mdc-drawer .mdc-list-item--activated {
    color: var(--mdc-theme-primary);
}
body {
    margin: 0;
    background-color: lightgray;
}
main {
    margin-left: 8px;
}
.view {
    display: none;
}
.template {
    display: none;
}
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
 html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}